# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3

# IDE
.vscode/
.idea/

# Ignorovat složku s médii (obrázky)
/media/

.env