{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Tracker</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Přidejte zde své CSS soubory nebo odkazy na Bootstrap, pokud používáte -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Domů</a></li>
                <!-- Další odkazy v navigaci -->
                {% if user.is_authenticated %}
                    <li><form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Odhlásit</button>
                    </form></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Přihlásit</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Zde se bude vkládat obsah stránek -->
        {% endblock %}
    </main>

    <footer>
        <!-- Patička stránky -->
    </footer>
</body>
</html>